@charset "utf-8";
/* Visit */
#visit{
    padding-top: 60px;
}
.sub__title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding: 5px 0;
    background-color: #fff100;
}
.visit__btn{
    display: flex;
}
.visit--btn{
    width: calc(50% - 30px);
    /* max-width: 480px; */
    padding: 10px 20px;
    position: relative;
}
.visit--btn p{
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    
}
/*          Media
----------------------------*/
@media (max-width: 767px){
    
    
    
}